@inject SignInManager<MyUser> signInManager;
@using Microsoft.AspNetCore.Identity;
@if ((User.IsInRole("Administrator")))
{
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition sidebar-mini">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Rapoarte</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <!-- /.col (LEFT) -->
                        <div class="col-lg-12">
                            <!-- LINE CHART -->
                            <!-- /.card -->
                            <!-- BAR CHART -->
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Sumele alocate proiectelor</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- STACKED BAR CHART -->
                            <!-- /.card -->

                        </div>
                        <!-- /.col (RIGHT) -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Bar chart -->
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Cheltuielile proiectelor
                                    </h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="bar-chart" style="height: 300px;"></div>
                                </div>
                                <!-- /.card-body-->
                            </div>
                            <!-- /.card -->
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
</section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <!-- ./wrapper -->
        <!-- jQuery -->
        <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="~/Theme/plugins/chart.js/Chart.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Theme/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/Theme/dist/js/demo.js"></script>
        <!-- page script -->
        <!-- FLOT CHARTS -->
        <script src="~/Theme/plugins/flot/jquery.flot.js" defer></script>
        <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
        <script src="~/Theme/plugins/flot-old/jquery.flot.resize.min.js" defer></script>
        <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
        <script src="~/Theme/plugins/flot-old/jquery.flot.pie.min.js" defer></script>
        <script>
            $(function () {

                function GetProjectsWithSum() {
                    var dataResponse = undefined;
                    $.ajax({
                        type: 'GET',
                        url: "/Home/GetProjectsWithSum",
                        async: false,
                        cache: false,
                        timeout: 5000,
                        error: function () {
                            return true;
                        },
                        success: function (data) {
                            dataResponse = data;
                        }
                    });
                    debugger;
                    return dataResponse;
                }

                var response = GetProjectsWithSum();
                debugger;
                response = response.data;
                const projectsNames = [];
                const budgetSum = [];
                const grantApplicationSum = [];
                let count = 0;
                response.forEach(projectWithSum => {
                    count++;
                    projectsNames.push(projectWithSum.projectName);
                    debugger;
                });

                response.forEach(projectWithSum => {
                    budgetSum.push(projectWithSum.initialAmount);
                });

                response.forEach(projectWithSum => {
                    grantApplicationSum.push(projectWithSum.amount);
                });
                debugger;
                var areaChartData = {
                    labels: projectsNames,
                    datasets: [
                        {
                            label: 'Suma bugetulului ',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: budgetSum
                        },
                        {
                            label: 'Suma din finantari externe',
                            backgroundColor: 'rgba(210, 214, 222, 1)',
                            borderColor: 'rgba(210, 214, 222, 1)',
                            pointRadius: false,
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: grantApplicationSum
                        },
                    ]
                }

                var areaChartOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false,
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                display: false,
                            }
                        }]
                    }
                }


                //-------------


                //-------------
                //- BAR CHART -
                //-------------
                var barChartCanvas = $('#barChart').get(0).getContext('2d')
                var barChartData = jQuery.extend(true, {}, areaChartData)
                var temp0 = areaChartData.datasets[0]
                var temp1 = areaChartData.datasets[1]
                barChartData.datasets[0] = temp1
                barChartData.datasets[1] = temp0

                var barChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    datasetFill: false
                }

                var barChart = new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                })
                /*
                    * BAR CHART
                    * ---------
                    */
                function GetProjectsWithAmountSpent() {
                    var dataResponse = undefined;
                    $.ajax({
                        type: 'GET',
                        url: "/Home/GetProjectsWithAmountSpent",
                        async: false,
                        cache: false,
                        timeout: 5000,
                        error: function () {
                            return true;
                        },
                        success: function (data) {
                            dataResponse = data;
                        }
                    });
                    debugger;
                    return dataResponse;
                }
                var responsed = GetProjectsWithAmountSpent();
                debugger;
                responsed = responsed.data;
                const projectsName = [];
                const budgetAmountSpent = [];
                let counts = 0;
                responsed.forEach(projectWithAmountSpent => {
                    counts++;
                    const item = [];
                    item.push(counts);
                    item.push(projectWithAmountSpent.projectName);
                    projectsName.push(item);
                });
                counts = 0;
                responsed.forEach(projectWithAmountSpent => {
                     counts++;
                    const item = [];
                    item.push(counts);
                    item.push(projectWithAmountSpent.amountSpent);
                    budgetAmountSpent.push(item);
                });
                debugger;
                console.info(projectsName);
                console.info(budgetAmountSpent);
                let number = 0;


                var bar_data = {
                    data: budgetAmountSpent,
                    bars: { show: true }
                }
                $.plot('#bar-chart', [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: '#f3f3f3',
                        tickColor: '#f3f3f3'
                    },
                    series: {
                        bars: {
                            show: true, barWidth: 0.5, align: 'center',
                        },
                    },
                    colors: ['#3c8dbc'],
                    xaxis: {
                        ticks: projectsName
                    }
                })
                debugger;
                /* END BAR CHART */

            })
        </script>
    </body>

</html>
}
else if (User.IsInRole("Angajat"))
{
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - LicenseProject</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title m-0">Proiecte</h5>

                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">Sectiune dedicata proiectelor</h6>
                                    <a class="btn btn-primary ml-md-5" asp-area="" asp-controller="Projects" asp-action="Index">Proiecte </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>


</body>
</html>
}
else if (User.IsInRole("Finantator"))
{
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - LicenseProject</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title m-0">Proiecte</h5>

                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">Sectiune dedicata proiectelor</h6>
                                    <a class="btn btn-primary ml-md-5" asp-area="" asp-controller="Projects" asp-action="Index">Proiecte </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>


</body>
</html>
}
else
{
<html>
<head>
    <meta charset="utf-8">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validate/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        </environment>*@
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <div class="align-content-lg-stretch">
                <div class="card center">
                    <div class="card-header">
                        <h3 class="card-title lead">
                            Bine ai venit !
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="height:750px">
                        <dl>
                            <dd>Aceasta aplicatie este folosita in scopuri de cercetare in cadrul Universitatii din Craiova. Pentru a avea acces la functionalitatile acesteia este nevoie sa te autentifici. </dd>
                            <dd>Pentru alte informatiii ne poti contacta prin intermediul sectiunii Contact.</dd>
                        </dl>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>


</body>
</html>
}
